---
import Layout from '../layouts/Layout.astro';
import { getLaunchesById } from 'C:/DEV/spacex4/src/utils/utilsSpace.ts'
const {id} = Astro.params;


export const prerender = false;

const data = await getLaunchesById(id);
const estadoLanzamiento = data.success ? 'exito' : 'fracaso';
---


<Layout title='lanzamiento'>
    <div class="border-8">
        {
            <div class="w-56 ">
                <p>{ data.details}</p>
                <p>{data.name}</p>
                <p
                    class:list={[
                        "border-2 border-orange-500",
                        {
                            "bg-green-500": data.success,
                            "bg-gray-500": !data.success
                        }
                    ]}
                >{data.success ? 'exito' : 'fracaso'}</p>
                <img src={data.links.patch.small} alt="">
            </div>
        }
    </div>
</Layout>