---
import Header from '../components/Header.astro'
import {Counter} from "../components/react/Counter.jsx";

import '../globals.css'
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div transition:persist class="p-10 text-red-500 font-bold">
			<Header />
			<Counter client:load  />

		</div>
		<slot />
	</body>
</html>
